@model McLittle.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subsubCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subsubCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
