@model McLittle.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="Ts_Product_details">
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="@Html.DisplayFor(model => model.imageLink)" /></div>
                        </div>

                    </div>
                    <div class="details col-md-6">
                        <h1 class="product-title">@Html.DisplayFor(model => model.title)</h1>
                        <h5 class="Ts_brand">@Html.DisplayFor(model => model.brand)</h5>
                        <p class="product-description">@Html.DisplayFor(model => model.fullDesc)</p>
                        <h4 class="price">Prijs: <span>€@Html.DisplayFor(model => model.price)</span></h4>
                        <p class="vote">Het Product weegt: <strong>@Html.DisplayFor(model => model.weight)</strong></p>
                        <h5 class="sizes">
                            Categorieen:
                            <span class="size" data-toggle="tooltip" title="@Html.DisplayFor(model => model.category)">@Html.DisplayFor(model => model.category),</span>
                            <span class="size" data-toggle="tooltip" title="@Html.DisplayFor(model => model.subCategory)">@Html.DisplayFor(model => model.subCategory),</span>
                            <span class="size" data-toggle="tooltip" title="@Html.DisplayFor(model => model.subsubCategory)">@Html.DisplayFor(model => model.subsubCategory)</span>
                        </h5>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">In winkelwagen</button>
                            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="empty_space2"></div>
<label class="Ts_vorige_pagina_btn">
    @Html.ActionLink("Terug Naar overzicht", null, null, null, new { href = Request.UrlReferrer })
</label>
<div class="empty_space2"></div>
