@model McLittle.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="Ts_Product_details">
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="@Html.DisplayFor(model => model.imageLink)" /></div>
                        </div>

                    </div>
                    <div class="details col-md-6">
                        <h1 class="product-title">@Html.DisplayFor(model => model.title)</h1>
                        <h5 class="Ts_brand">@Html.DisplayFor(model => model.brand)</h5>
                        <p class="product-description">@Html.DisplayFor(model => model.fullDesc)</p>
                        <h4 class="price">Prijs: <span>$@Html.DisplayFor(model => model.price)</span></h4>
                        <p class="vote">Het Product weegt: <strong>@Html.DisplayFor(model => model.weight)</strong></p>
                        <h5 class="sizes">
                            Categorieen:
                            <span class="size" data-toggle="tooltip" title="@Html.DisplayFor(model => model.category)">@Html.DisplayFor(model => model.category),</span>
                            <span class="size" data-toggle="tooltip" title="@Html.DisplayFor(model => model.subCategory)">@Html.DisplayFor(model => model.subCategory),</span>
                            <span class="size" data-toggle="tooltip" title="@Html.DisplayFor(model => model.subsubCategory)">@Html.DisplayFor(model => model.subsubCategory)</span>
                        </h5>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
















<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subsubCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subsubCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
