@model IEnumerable<McLittle.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Bekijk hier onze mooie producten</h2>
@using (Html.BeginForm())
{
    <p class="Ts_search_form">
        @Html.TextBox("SearchString")
        <input type="submit" value="Zoeken" />
    </p>
}
<!-- Portfolio Section -->
<div class="Ts_portfolio_item">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="Ts_product_main" style="background-image: url('@Html.DisplayFor(modelItem => item.imageLink)');">
                    <div class="Ts_overlay2">
                        <div class="Ts_price_main">
                            <i class="fa fa-tag Ts_price_tag"></i>
                            <span>€@Html.DisplayFor(modelItem => item.price)</span>
                        </div>
                        <h3>@Html.DisplayFor(modelItem => item.title)</h3>
                    </div>
                    <div class="Ts_overlay">
                        <h3>@Html.DisplayFor(modelItem => item.title)</h3>
                        <h6>@Html.DisplayFor(modelItem => item.brand)</h6>
                        <p>@Html.DisplayFor(modelItem => item.shortDesc)</p>
                        <div class="Ts_add_to_cart_btn_main btn3">@Html.ActionLink("Bekijk het product", "Details", new { id = item.productId })</div>


                        <div class="Ts_add_to_cart_btn btn2"> @Html.ActionLink("In winkelwagen", "AddToCart",   "ShoppingCart", new { id = item.EAN }, "")</div>



                    </div>

                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->
