<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Areas/CMS/Template/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Areas/CMS/Template/vendor/metisMenu/metisMenu.min.css")
    @Styles.Render("~/Areas/CMS/Template/dist/css/sb-admin-2.css")
    @Styles.Render("~/Areas/CMS/Template/vendor/morrisjs/morris.css")
    @Styles.Render("~/Areas/CMS/Template/vendor/font-awesome/css/font-awesome.min.css")
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link href="~/Content/Ts_Style.css" rel="stylesheet" />
    

</head>
<body class="Ts_no_padding_top">
    <div id="wrapper">
        <!-- /.navbar-top-links -->
        <!-- Navigation -->
        <!-- /.navbar-header -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto cms_nav">
                        <li>
                            <a href="/"><i class="fa fa-safari fa-fw"></i>Back to website</a>
                        </li>
                        @if (User.IsInRole("Admin"))
    {
                    <li>
                        <a href="/cms/cmsproducts"><i class="fa fa-shopping-basket fa-fw"></i> Products</a>
                    </li>
}
                        @if (User.IsInRole("Admin"))
    {
                    <li>
                        <a href="/cms/cmscategories"><i class="fa fa-stop fa-fw"></i>Categories</a>
                    </li>
}
                        @if (User.IsInRole("Admin"))
    {
                    <li>
                        <a href="/cms/cmssubcategories"><i class="fa fa-th-large fa-fw"></i>SubCategories</a>
                    </li>
}
                        @if (User.IsInRole("Admin"))
    {
                    <li>
                        <a href="/cms/cmssubsubcategories"><i class="fa fa-th fa-fw"></i>SubSubCategories</a>
                    </li>
}
                        @if (User.IsInRole("Admin"))
    {

                    <li>
                        <a href="/cms/articles"><i class="fa fa-edit fa-fw"></i>Nieuws</a>
                    </li>
}
                        @Html.Partial("_LoginPartial")
</div>
            </div>
        </nav>

        @RenderBody()

    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Areas/CMS/Template/vendor/jquery/jquery.min.js")
    @Scripts.Render("~/Areas/CMS/Template/vendor/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Areas/CMS/Template/vendor/metisMenu/metisMenu.min.js")
    @Scripts.Render("~/Areas/CMS/Template/vendor/raphael/raphael.min.js")
    @Scripts.Render("~/Areas/CMS/Template/vendor/morrisjs/morris.min.js")
    @Scripts.Render("~/Areas/CMS/Template/data/morris-data.js")
    @Scripts.Render("~/Areas/CMS/Template/dist/js/sb-admin-2.js")

</body>
</html>